.title {
  font-weight: bold;
  padding-top: 150px;
  font-size: 25px;
  margin-left: 20px;
}

.btnq {
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
  border: none;
}

.btns:hover {
  transform: scale(1.15);
}

.btna:hover {
  transform: scale(1.15);
}

.banner {
  height: 450px;
}

.des {
  font-size: 13px;
  margin-top: 00px;
  max-width: 400px;
  margin-left: 10px;
}
